spring:

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ENC(rc8wB1nLDmTBuAoQ7JpqmQZwy72ZfE+LpjUL4T4c970h/iJ3s8YUxznehbSdqKJ5NOCL75NdXD2Y4WkGHPAOQ2sL4WTj0wGCXa63C0cYwAuUZzElzdRBVw==)
    username: ENC(WLT0xiYU9go4CpITF9VsSw==)
    password: ENC(/ELSQeCVmG9WDHarMsv205N2eSzLL9NC)

  jpa:
    hibernate:
      show-sql: true
      properties:
        hibernate.format_sql: true
    servlet:
      multipart:
        maxFileSize: 5MB
        maxRequestSize: 5MB

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  profiles:
    include: API-KEY
#    active: local

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  port: 8080

springdoc:
  version: v1.0.0
  swagger-ui:
    path: /swagger-pol.html
    tagsSorter: alpha
    operationsSorter: alpha

jasypt:
  encryptor:
    bean: jasyptStringEncryptor
    password: my_jasypt_key